<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <title>Add a New Task</title>
</head>
<body>
<div class="container">
    <h1>Form MÚSICA</h1>
    <form action="" th:action="@{/view/add}" th:object="${t}" method="post">
        <input type="text" th:field="*{title}" placeholder="Insert title" class="form-control mb-4 col-4">
        <div class="mb-4">
            <label>Completed: </label>
            <input type="checkbox" id="completed" name="completed" th:field="*{completed}">
        </div>
        <button type="submit" class="btn btn-info col-2">Sumbit</button>
    </form>
    <a th:href="@{/view/todos}">Back to TO-DOs List</a>>
</div>
</body>
</html>